* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.gridwrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.gridwrapper :nth-child(1) {
  grid-column: auto/span 3;
  background-color: yellow;
}
.gridwrapper :nth-child(2) {
  background-color: yellow;
}
.gridwrapper :nth-child(3) {
  grid-row: auto/span 2;
  background-color: yellow;
}
.gridwrapper :nth-child(5) {
  grid-row: auto/span 2;
  background-color: yellow;
}
.gridwrapper :nth-child(7) {
  grid-column: auto/span 2;
  background-color: yellow;
}
.box1 {
  background-color: red;
}
